{% extends 'core/base.html' %}


{% block content %}
     <!-- hero -->
     <div class="bg-warning border border-bottom border-dark">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-6 d-flex align-items-center">
                    <div>
                        <h2 class="display-1"><strong>Stay curious.</strong></h2>
                        <p class="lead">Discover stories, thinking, and expertise from writers on any topic.</p>
                        <a href="" class="btn btn-dark text-light rounded-pill px-3 py-1">Start reading</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img src="https://picsum.photos/id/37/800/450?grayscale" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
    <!-- hero end -->
    <!-- trends -->
    <section class="container">
        <div class="row">
            <div class="col-sm-12 mt-5">
                <h2 class="fs-6">
                    <span class="badge bg-dark rounded-circle p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5" />
                        </svg>
                    </span>
                    <span class="fs-12">TRENDING ON MEDIUM</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <!-- article 1 -->
            <article class="col-sm-4">
                <div class="row">
                    <div class="col-2 text-muted fs-1 op-02">
                        01
                    </div>
                    <div class="col-sm-10 mt-3">
                        <div>
                            <a href="#" class="text-decoration-none text-muted">
                                <img src="https://picsum.photos/id/110/30/30?grayscale" class="rounded-circle" alt="">
                                <small class="ms-2">Scott Galloway</small>
                            </a>
                        </div>
                        <div>
                            <h2 class="h6 mt-1">
                                <a href="#" class="text-decoration-none text-dark">2024 Predictions</a>
                            </h2>
                            <ul class="list-inline fs-12 op-04">
                                <li class="list-inline-item">Jan 6</li>
                                <li class="list-inline-item">11 min read</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </article>
            <!-- article 1 end -->
            <!-- article 2 -->
            <article class="col-sm-4">
                <div class="row">
                    <div class="col-2 text-muted fs-1 op-02">
                        02
                    </div>
                    <div class="col-sm-10 mt-3">
                        <div>
                            <a href="#" class="text-decoration-none text-muted">
                                <img src="https://picsum.photos/id/11/30/30?grayscale" class="rounded-circle" alt="">
                                <small class="ms-2">Ibtisaam</small>
                            </a>
                        </div>
                        <div>
                            <h2 class="h6 mt-1">
                                <a href="#" class="text-decoration-none text-dark">The Symbolism of 'Saltburn' That You
                                    Probably Missed</a>
                            </h2>
                            <ul class="list-inline fs-12 op-04">
                                <li class="list-inline-item">Jan 5</li>
                                <li class="list-inline-item">8 min read</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </article>
            <!-- article 2 end -->
            <!-- article 3 -->
            <article class="col-sm-4">
                <div class="row">
                    <div class="col-2 text-muted fs-1 op-02">
                        03
                    </div>
                    <div class="col-sm-10 mt-3">
                        <div>
                            <a href="#" class="text-decoration-none text-muted">
                                <img src="https://picsum.photos/id/10/30/30?grayscale" class="rounded-circle" alt="">
                                <small class="ms-2">Andrei in Liamalndex Blog</small>
                            </a>
                        </div>
                        <div>
                            <h2 class="h6 mt-1">
                                <a href="#" class="text-decoration-none text-dark">A Cheat Sheet and Some Recipes For
                                    Building Advanced RAG</a>
                            </h2>
                            <ul class="list-inline fs-12 op-04">
                                <li class="list-inline-item">Jan 5</li>
                                <li class="list-inline-item">7 min read</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </article>
            <!-- article 3 end -->

        </div>
        <div class="row">
            <!-- article 4 -->
            <article class="col-sm-4">
                <div class="row">
                    <div class="col-2 text-muted fs-1 op-02">
                        04
                    </div>
                    <div class="col-sm-10 mt-3">
                        <div>
                            <a href="#" class="text-decoration-none text-muted">
                                <img src="https://picsum.photos/id/3/30/30?grayscale" class="rounded-circle" alt="">
                                <small class="ms-2">Ignacio de Gregorio</small>
                            </a>
                        </div>
                        <div>
                            <h2 class="h6 mt-1">
                                <a href="#" class="text-decoration-none text-dark">Apple Outclasses ChatGPT with
                                    Ferret</a>
                            </h2>
                            <ul class="list-inline fs-12 op-04">
                                <li class="list-inline-item">Jan 5</li>
                                <li class="list-inline-item">15 min read</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </article>
            <!-- article 4 end -->
            <!-- article 5 -->
            <article class="col-sm-4">
                <div class="row">
                    <div class="col-2 text-muted fs-1 op-02">
                        05
                    </div>
                    <div class="col-sm-10 mt-3">
                        <div>
                            <a href="#" class="text-decoration-none text-muted">
                                <img src="https://picsum.photos/id/2/30/30?grayscale" class="rounded-circle" alt="">
                                <small class="ms-2">Silvia Onofrei</small>
                            </a>
                        </div>
                        <div>
                            <h2 class="h6 mt-1">
                                <a href="#" class="text-decoration-none text-dark">Leverage KeyBERT, HDBSCAN and
                                    Zephyr-7B-Beta to Build a...</a>
                            </h2>
                            <ul class="list-inline fs-12 op-04">
                                <li class="list-inline-item">Jan 7</li>
                                <li class="list-inline-item">18 min read</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </article>
            <!-- article 5 end -->
            <!-- article 6 -->
            <article class="col-sm-4">
                <div class="row">
                    <div class="col-2 text-muted fs-1 op-02">
                        06
                    </div>
                    <div class="col-sm-10 mt-3">
                        <div>
                            <a href="#" class="text-decoration-none text-muted">
                                <img src="https://picsum.photos/id/1/30/30?grayscale" class="rounded-circle" alt="">
                                <small class="ms-2">Lucy Foulkes</small>
                            </a>
                        </div>
                        <div>
                            <h2 class="h6 mt-1">
                                <a href="#" class="text-decoration-none text-dark">The adolescent mental health mess</a>
                            </h2>
                            <ul class="list-inline fs-12 op-04">
                                <li class="list-inline-item">Jan 4</li>
                                <li class="list-inline-item">5 min read</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </article>
            <!-- article 3 end -->

        </div>

    </section>
    <hr>
    <!-- trends end -->

    <section class="container mt-5">
        <div class="row">
            <main class="col-sm-8">
                <!-- article 1 -->
                {% for post in posts %}
                    {% include 'blog/components/post.html' %}
                {% endfor %}

                <!-- article1 end -->                
            </main>
            <!-- aside -->
            <aside class="col-sm-4">
                <h6 class="my-3">Discover more of what matters to you</h6>
                <ul class="list-inline mb-2">
                    {% for category in categories %} 
                    <li class="list-inline-item border p-2 text-muted fs-12 mb-1 rounded">{{ category.title }}</li>
                    {% endfor %}                  
                    <ul><a class="text-success" href="#">See more topics</a></ul>
                </ul>
                <hr>
                <ul class="list-inline mt-2">
                    {% for tag in tags %}
                        <li class="list-inline-item">
                            <a href="#" class="text-decoration-none text-muted fs-14">{{ tag.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
            <!-- aside end -->
        </div>
    </section>

{% endblock content %}
    